$font-family-default: Arial, Helvetica, sans-serif;
$fonte-principal: 'Libre Baskerville', serif;
$font-extra-big: 6rem;
$font-big: 3rem; 
$font-medium: 2.2rem;
$font-normal: 1.5rem;
$font-small: 1.2rem;