$align: left;
$bg-color: #fff;
$color-01: #c33e38;
$color-02: #fff;
$color-03: #000;
$color-05: #ededed;
$color-default: #ffa034;
$color-background-blocks: #c33e38;
$mb: 0.5rem;
$mt: 0.5rem;
$mt-02: 1rem;
$space-default: 3rem;
$space-extra: 8rem;
$space-2: 0rem;
$max-width-padrao: 1200px;
$border-radius-padrao: 0.5rem;
$border-radius-externo: 0.5rem;
$box-shadow-padrao: 1px 3px 10px -4px #000000cc;
$box-shadow-sutil: 0px 3px 12px -10px #000000cc;

/* Media queries */ 
$tela-celular: 350px;
$tela-tablet: 600px;